{reduce:nothing}
{mask:main}
<body class="about">
{* открывающий body тут, закрывающий в основном шаблоне *}
<div class="leftColumn">
	<ul class="mainmenu">
		<li id="mobileClicker"></li>
		<li class="pkmenu"><a href="/" class="pkmenu__link">Главная</a></li>
		{mask:menu}
			<li class="pkmenu{set:active} active{/set}"><a href="{url}" class="pkmenu__link">{name}</a></li>
		{/mask}
		<li class="marker"></li>
	</ul>
	<div class="leftColumn__left">
		<h1>{page_title}</h1>
		<div class="text">
			{page_text}
		</div>
	</div>
	<div class="leftColumn__right">
		<ul>
			{mask:txts}
				<li>{texthtml}</li>
			{/mask}
		</ul>
	</div>
	<div class="leftColumn__bottom">
		<div class="left">
			<div class="doc">
				<h1>Документы</h1>
				<ul>
					{mask:files}
						<li><a href="/files/0/{file}"><i class="{format}"></i>{name}</a></li>
					{/mask}
				</ul>
			</div>
		</div>
		<div class="right">
			<div class="text">
				{page_doctext}
			</div>
		</div>
	</div>
</div>
<div class="rightColumn">
	{mask:backgrounds}
		<div style="background:url('/files/1/{image}') no-repeat"></div>
	{/mask}
	<a href="http://elgrow.ru/" class="elgrow" target="web">
		<img src="/img/elgrow.png" />
	</a>
</div>
<div class="footerline"></div>
{/mask}