{reduce:nothing}
{mask:main}
<body class="projects">
{* открывающий body тут, закрывающий в основном шаблоне *}
<ul class="mainmenu">
	<li id="mobileClicker"></li>
	<li class="pkmenu"><a href="/" class="pkmenu__link">Главная</a></li>
	{mask:menu}
	<li class="pkmenu{set:active} active{/set}"><a href="{url}" class="pkmenu__link">{name}</a></li>
	{/mask}
	<li class="marker"></li>
</ul>
<div class="leftColumnproj">
	<h1>Проекты</h1>
	<ul>
		{mask:categories}
		<li{set:active} class="active"{/set}><a href="{url}">{name}</a></li>
		{/mask}
	</ul>
	<h2>{title}</h2>
	<div class="text">{text}</div>
</div>
<div class="projectslist">
	<div class="projectsWrap">
		{mask:projects}
		<a href="#{url}" class="project" {set:background}style="background:url('/files/0/{background}');"{/set}>
		    <div class="panel">
               <span class="loading5">
                   <span id="outerCircle"></span>
               </span>
            </div>
			<div class="logo">{set:logo1}<img src="/files/0/{logo1}">{/set}</div>
			<div class="title">{name}</div>
			<div class="text">{text}</div>
			<div class="contentWrap"></div>
		</a>
		{/mask}
		<a href="#" class="close"></a>
	</div>
	<div class="arrowR"></div>
</div>
<a href="http://elgrow.ru/" class="elgrow" target="web">
	<img src="/img/elgrow.png" />
</a>
{/mask}