{reduce:space}
{mask:main}
<div class="content">
	<h1>{set:logo2}<img src="/files/0/{logo2}" class="bigLogo" alt="" />{/set}{name}</h1>
	<div class="textBig">{text}</div>
	{set:files}
	<h1>Документы</h1>
	<div class="doc">
		<ul>
			{mask:files}
				<li><a href="/files/0/{file}"><i class="{format}"></i>{name}</a></li>
			{/mask}
		</ul>
	</div>
	{/set}
</div>
{/mask}