{reduce:nothing}
{mask:main}
<div class="index__logo">
	<img src="/scetch/img/logo.png" alt="">
</div>
<ul class="index__menu">
	{mask:menu}
		<li><a href="{url}">{name}</a></li>
	{/mask}
</ul>
<a href="http://elgrow.ru/" class="elgrow" target="web">
	<img src="/img/elgrow.png" />
</a>
{/mask}