{reduce:space}
{mask:main}
				<a href="{czUrl}" class="{if:{lang}=='cz'}active{/if}"><strong>cz</strong></a>
				<a href="{enUrl}" class="{if:{lang}=='en'}active{/if}"><strong>en</strong></a>
				<a href="{deUrl}" class="{if:{lang}=='de'}active{/if}"><strong>de</strong></a>
				<a href="{ruUrl}" class="{if:{lang}=='ru'}active{/if}"><strong>ru</strong></a>
{/mask}