{reduce:nothing}
{mask:main}
<body class="newsDome">
{* открывающий body тут, закрывающий в основном шаблоне *}
<ul class="mainmenu">
	<li id="mobileClicker"></li>
	<li class="pkmenu"><a href="/" class="pkmenu__link">Главная</a></li>
	{mask:menu}
	<li class="pkmenu{set:active} active{/set}"><a href="{url}" class="pkmenu__link">{name}</a></li>
	{/mask}
	<li class="marker"></li>
</ul>
<div class="newsInfo">
	<div class="content">
		<h1 class="newsTitle">{name}</h1>
		<div class="image">{set:photo}<img src="/files/0/{photo}" alt="{name}"/>{/set}</div>
		<div class="textNews">{text}</div>
		<div class="dateThisNews">{d_m_date} <span>{y_date}</span></div>
	</div>
</div>
<div class="leftColumnnews">
	<h1>Последние новости</h1>
	<div class="lastNews">
		{mask:item}
		<a href="{url}" class="newsn">
			<div class="date">{d_m_date} <span>{y_date}</span></div>
			<div class="title">{name}</div>
		</a>
		{/mask}
	</div>
	<a class="back" href="{back}">Вернуться назад</a>
</div>
{/mask}