{reduce:nothing}
{mask:main}
<body class="news">
{* открывающий body тут, закрывающий в основном шаблоне *}
<div class="menuwrap">
	<ul class="mainmenu">
		<li id="mobileClicker"></li>
		<li class="pkmenu"><a href="/" class="pkmenu__link">Главная</a></li>
		{mask:menu}
		<li class="pkmenu{set:active} active{/set}"><a href="{url}" class="pkmenu__link">{name}</a></li>
		{/mask}
		<li class="marker"></li>
	</ul>
</div>
<div class="newsPoligone">
	<div class="newsWrap" id="newsWrapper">
		{set:url_p}
		<a href="{url_p}" class="newsBlock">
			<div class="image" style=""></div>
			<div class="textNews">
				<div class="title">< Предыдущая страница</div>
				<div class="date"></div>
			</div>
		</a>
		{/set}
		{news_block}
		{set:url_next}
		<a href="{url_n}" class="newsBlock">
			<div class="image" style=""></div>
			<div class="textNews">
				<div class="title">Седующая страница ></div>
				<div class="date"></div>
			</div>
		</a>
		{/set}
	</div>
</div>
{/mask}