{reduce:nothing}
{mask:main}
<a href="{url}" class="newsBlock">
    <div class="image" {set:photo}style="background:url('/files/0/{photo}')"{/set}></div>
    <div class="textNews">
        <div class="title">{name}</div>
        <div class="date">{d_m_date} <span>{y_date}</span></div>
    </div>
</a>
{/mask}