<div class="content">
    <h1><img src="img/logoprojBig.png" class="bigLogo" alt="" />Группа компаний «РосПромИнжиниринг»</h1>
    <div class="textBig">Группа компаний «РосПромИнжиниринг» — лидер в области комплексных решений инжинерной инфраструктуры и капитального строительства. ГК является основате- лем кластера ведущих проектных, строительных, производственных и технологиче- ских предприятий Свердловской области и УрФО.
Все структурные подразделения «РосПромИнжиниринг» составляют единую техно- логическую и организационную цепочку на всех стадиях проектного цикла: от разра- ботки и технико-экономического обоснования проекта с привлечением источника финансирования для его реализации до последующего обслуживания созданной инфраструктуры.
В составе ГК «РосПромИнжиниринг» действует проектный институт, конструктор- ское бюро, строительно-монтажное подразделение, сервисная служба, производ- ственные площадки, техника и оборудование. Полный цикл услуг позволяет гаран- тировать потребителям неукоснительное соблюдение сроков и высокое качество оборудования и работ. Эффективное распределение ресурсов обеспечивает высокую доходность вложений для клиентов компании.</div>
    <h1>Документы</h1>
    <div class="doc">
        <ul>
            <li><a href="#"><i class="pdf"></i>Описание технологий компании "РосПромИнжиниринг" </a></li>
            <li><a href="#"><i class="pdf"></i>Презентация компании "РосПромИнжиниринг"</a></li>
        </ul>
    </div>
</div>