@paddingIndex:3.82%;
@paddingall:5.83%;
@font-face{
    font-family:robotolight;
    src: url('fonts/Roboto-Light.ttf');
}
@font-face{
    font-family:robotoRegular;
    src: url('fonts/Roboto-Regular.ttf');
}
@font-face{
    font-family:robotoMed;
    src: url('fonts/Roboto-Medium.ttf');
}
@font-face{
    font-family:robotolightItalic;
    src: url('fonts/Roboto-LightItalic.ttf');
}

input::-webkit-input-placeholder       {color:white;opacity:1; transition:all 0.5s  ease;}
input::-moz-placeholder                {color:white;opacity:1; transition:all 0.5s  ease;}
input:-moz-placeholder                 {color:white;opacity:1; transition:all 0.5s  ease;}
input:-ms-input-placeholder            {color:white;opacity:1; transition:all 0.5s  ease;}
input:focus::-webkit-input-placeholder {opacity:0; transition: all 0.5s ease;}
input:focus::-moz-placeholder          {opacity:0; transition: all 0.5s ease;}
input:focus:-moz-placeholder           {opacity:0; transition: all 0.5s ease;}
input:focus:-ms-input-placeholder      {opacity:0; transition: all 0.5s ease;}

html, body{
    margin: 0;
    padding: 0;
    width: 100%;
    display: block;
    background: #26282c;
    min-height: 100%;
    height: auto;
    position: relative;
    float: left;
}
.index{
    background:url(img/bg.jpg);
    background-size:cover;
    padding-left:@paddingIndex;
    float:left;
    display:block !important;
    width:100% - @paddingIndex;
}
.index__logo{
    width:263px;
    margin-top:43px;
    float:left;
}
.index__logo img{
    width:100%;
}
.index__menu{
    padding: 0;
    float: left;
    margin: 0;
    list-style: none;
    font-family: roboto-light;
    position: absolute;
    bottom: 93px;
    left: @paddingIndex;
}
.index__menu a{
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 55px;
    font-family: robotolight;
    padding: 0px 12px;
    display: block;
    float: left;
}
.index__menu a:hover{
    background:#176388;
}
.elgrow{
    position:absolute;
    bottom:0;
    right:0;
}
.contacts, .partners, .news .menuwrap, .projects, .projectDome, .newsDome{
    padding:0 @paddingall 0 @paddingall;
    width:100% - @paddingall * 2;
    background-size:cover !important;
    background-position: center !important;
}
.contacts{
    background:url(img/map.jpg);
}
body.partners {
    overflow: hidden;
}
.leftColumn{
    padding:0 0 0 @paddingall;
    width:50% - @paddingall;
    float: left;
}
.leftColumn__left{
    width: 34%;
    float: left;
    .text{
        line-height:20px;
        font-family:robotoRegular;
    }
}
.rightColumn{
    width: 50%;
    float: right;
    position: relative;
    min-height: 100%;
}
.rightColumn div{
    width: 100%;
    height: 25%;
    background-size: cover !important;
    float: left;
}
a.project.open{
    cursor:default;
    
}a.project.closing{
    z-index:9;
}
a.project .content {
    width: 56%;
    float: right;
    height: 100%;
    background: white;
    position: absolute;
    right: -70%;
    opacity:0;
    top: 0;
    bottom: 0;
    padding: 7%;
    transition:all 0.5s;
    color: #26282c;
    h1{
        color: #26282c;
        margin-top: 16px;
        font-size: 23px;
        float: left;
    }
    .textBig{
        font-family: robotoLight;
        font-size:13px;
        line-height:20px;
        color:#2b2c30;
        margin-bottom:50px;
        float: left;
        width: 100%;
    }
    img.bigLogo {
        position: relative;
        top: -12px;
        margin-right: 20px;
        margin-bottom: 20px;
        height: 47px;
        float: left;
    }
    .doc a{
        color:#2b2c30;
        background:none;
        &:hover{
            text-decoration:underline;
        }
    }
}
a.project.open .content{
    opacity:1;
    transition:all 0.5s;
    
}
a.project.closing .content{
    right:-70%;
    transition:all 0.5s;
}
.projectsWrap .close{
    z-index: 2;
    display:none;
}
.leftColumn__right {
    color: #ebebeb;
    font-size: 13px;
    float: right;
    font-family: robotolight;
    width: 37.6%;
    margin-right: 14.1%;
    ul{
        margin:70px 0 0 0;
        padding:0;
        list-style: none;
    }
    li{
        position: relative;
        line-height:18px;
        margin-bottom:18px;
    }
    li:after{
        content:'';
        width:4px;
        height:3px;
        background:#226489;
        display: block;
        position: absolute;
        top:6px;
        left:-12px;
    }
}
i.pdf{
    display:block;
    background:url(img/pdf.png) no-repeat;
    width:18px;
    height:19px;
    float:left;
    margin-right: 8px;
    margin-top: -2px;
}
.doc ul{
    list-style:none;
    margin:0;
    padding:0;
    font-size:13px;
    font-family:robotoRegular;
    li{
        clear:both;
    }
    a{
        color: white;
        text-decoration: none;
        display: block;
        padding: 5px 8px;
        float:left;
        &:hover{
            background:#226489;
        }
    }
}
a.project{
    .logo, .text, .title{
        transition:all 0.3s;
    }
}
a.project.open{
    left: 0;
    width: 100%;
    z-index: 1;
    .logo, .text, .title{
        transition:all 0.3s;
        opacity:0;
    }
    .content{
        right:0;
    }
    
}
.footerline{
    width:100%;
    height:5px;
    background:#226489;
    clear:both;
    margin-top:-5px;
    float: left;
}
.leftColumn__bottom {
    width: 100%;
    clear: both;
    margin-bottom: 100px;
    float:left;
    .left{
        .leftColumn__left();
    }
    .right{
         .leftColumn__right();
    }
    .text{
        margin-top:73px;
        color:#ebebeb;
    }
}
.news .mainmenu{
    padding-top:22px;
    padding-bottom: 36px;
}
.newsPoligone {
    overflow: hidden;
    .newsBlock {
        float: left;
        display: block;
    }
    .image{
        width:50%;
        height:100%;
        background-size:cover !important;
        float:left;
        background-position: center !important;
    }
    .textNews{
        float:right;
        background:#26282c;
        color:white;
        width:50%;
        height:100%;
        position: relative;
    }
    .newsWrap{
        height:100%;
        transition:margin 0.8s;
    }
    .newsBlock:nth-child(2n+2) .textNews{
            background:#ffffff;
            color:black;
           
    }
    .title{
        font-size: 13px;
        font-family: robotoMed;
        text-transform: uppercase;
        padding: 15% 13.5%;
    }
    .date{
        font-size:11px;
        font-family: robotoRegular;
        padding: 15% 13.5%;
        position: absolute;
        bottom:0;
        left:0;
        text-transform: uppercase;
        span{
            display:block;
            clear: both;
            margin-top: 5px;
        }
    }
}
.menuwrap {
    box-shadow: 0px 0px 9px black;
    position: relative;
    z-index: 2;
}
.secondRow{
    .image{
        float:right;
    }
    .textNews{
        float:left;
    }
}
.mainmenu{
    font-family:robotoRegular;
    list-style:none;
    padding:0;
    margin:0;
    padding-top:28px;
    padding-bottom:28px;
    z-index: 10;
    position: relative;
    li{
        float:left; 
        margin:0 10px 0 10px;
    }
    a{
        color:white;
        text-decoration:none;
        text-transform:uppercase;
        font-size:13px;
        position:relative;
    }
    li:first-child{
        margin-left:0;
    }
    li a:before{
        content:'';
        opacity:0;
        transition:all .35s;
        height:50px;
        display:block;
        border-top:1px solid #767676;
        border-bottom:1px solid #767676;
        width:100%;
        top:-15px;
        position:absolute;
        left:0;
    }
    li.active a:before, li a:hover:before{
        content:'';
        top:-6px;
        opacity:1;
        height:26px;
    }
}
h1{
    font-size:30px;
    color:white;
    font-family:robotoMed;
    font-weight:normal;
    text-transform:uppercase;
    margin-top:55px;
    float:left;
}
h1:before{
    content:'';
    width:39px;
    height:3px;
    background:#226488;
    display:block;
    position:absolute;
    left:0;
    margin-top:12px;
}
h2{
    font-size: 21px;
    font-family: robotoMed;
    color:white;
    text-transform: uppercase;
    line-height:30px;
    font-weight: normal;
    margin-top:82px;
    float:left;
}
.text{
    clear:both;
    display:block;
    color:white;
    font-size:13px;
    font-family:robotolight;
}
.contacts__block{
    font-family:robotolight;
    color:white;
    font-size:13px;
    float:left;
    width:100%;
    .info{
        float:left;
        margin-right:30px;
    }
    .title{
        color:#919191;
        line-height:29px;
    }
    .email .text{
        margin-top:5px;
    }
    .email .title{
        font-family:robotolightItalic;
    }
    .viewInMap{
        width:100%;
        float:left;
        margin-top:32px;
        cursor:pointer;
        padding-bottom:40px;
        margin-bottom:40px;
        border-bottom:1px solid rgba(255,255,255,0.09);
        img{
            position: relative;
            top:4px;
            margin-right:3px;
        }
    }
}
.form{
   clear:both;
   width:100%;
   color:white;
   font-size:13px;
   font-family:robotoRegular;
    label{
        color:#868686;
        display:block;
        float:left;
        margin-bottom:10px;
    }
    .form__inputs{
        width:25%;
        float:left;
    }
    .form__textarea{
        float:left;
        width:59.5%;
        margin-left:4.3%;
        position: relative;
    }
    input, textarea{
        width:100%;
        float:left;
        resize:none;
        margin-bottom:35px;
        outline:none;
        background:none;
        border:none;
        color:white;
        padding:12px 0px;
        font-size:13px;
        transition:all 0.5s;
        border-bottom:1px solid rgba(255,255,255,0.19);
        &:focus{
            border-bottom:1px solid rgba(255,255,255,1);
        }
    }
    textarea{
        height: 140px;
        position: relative;
        z-index: 2;
        font-family: robotoRegular;
        padding-top: 0px;
        line-height: 36px;
    }
    .form__textarea:after{
        content: '';
        height: 37px;
        width: 100%;
        position: absolute;
        display: block;
        border-bottom: 1px solid rgba(255, 255, 255, 0.19);
        border-top: 1px solid rgba(255, 255, 255, 0.19);
        bottom: 72px;
    }
    .form__textarea:before{
        content: '';
        height: 37px;
        width: 100%;
        position: absolute;
        display: block;
        border-bottom: 1px solid rgba(255, 255, 255, 0.19);
        bottom: 146px;
    }
    #submit{
        text-transform:uppercase;
        border:none;
        float:left;
        width:auto;
        clear:both;
        padding:10px 30px;
        cursor:pointer;
        position: relative;
        z-index: 2;
    }
    .form__submit{
        position:relative;
        float: left;
        clear:both;
        margin-top:10px;
    }
    .form__submit:after{
        content:'';
        float:left;
        width:100%;
        height:50%;
        position:absolute;
        display:block;
        opacity:0.5;
        transition:all 0.5s;
        border-top:1px solid white;
        border-bottom:1px solid white;
    }
    .form__submit:hover:after{
        height:65%;
        margin-top:-4%;
    }
}
.marker{
    display:none;
}
#mobileClicker{
    display:none;
}
.partners{
    .leftColumn__left{
        width: 19%;
        float:left;
    }
}
.markers{
    position: absolute;
    top: 0;
    right: 0;
    background-size: cover !important;
    background-position: right !important;
    background: url(img/map.png);
    width: 1397px;
    height: 900px;
    transition:all 2s;
    div{
        width: 14px;
        height: 14px;
        background: #226489;
        box-shadow: 0px 0px 0px 1px #24709b, 0px 0px 16px #1daeff;
        border-radius: 50%;
        position: absolute;
        transition:all 0.3s;
        cursor: pointer;
        &:hover, &.active{
             z-index:3;
        }
        &.active{
            background: #ABC0CC;
        }
        &:before{
            content:'';
            display:block;
            width:32px;
            height:32px;
            border:2px solid transparent;
            position: absolute;
            box-shadow:0px 0px 0px 1px white, 0px 0px 2px 1px gray inset;
            transform:rotate(45deg) scale(0);
            top:-11px;
            left:-11px;
            opacity:0;
            transition:all 0.4s;
        }
        &:hover:before, &.active:before{
            content:'';
            opacity:1;
            opacity:1;
            transform: rotate(45deg) scale(1);
        }
        &:after{
            content: '';
            display: block;
            height: 1px;
            width: 37px;
            background: white;
            position: absolute;
            right: -66px;
            top: 7px; 
            opacity:0;
            transform: scale(0);
        }
        &:hover:after{
            content: '';
            opacity:1;
            transition: all 0.3s 0.2s;
            right:-56px;
            transform: scale(1);
        }
        img{
            position: absolute;
            left: 89px;
            top: -9px;
            opacity:0;
            transform: scale(0);
        }
        &:hover img{
                left:79px;
                opacity:1;
                transition:0.3s;
                transform: scale(1);
            }
        &:nth-child(1){top: 27%;right: 47%;}
        &:nth-child(2){top: 34%;right: 45%;}
        &:nth-child(3){top: 40%;right: 50%;}
        &:nth-child(4){top: 48%;right: 47%;}
        &:nth-child(5){top: 47.5%;right: 41%;}
        &:nth-child(6){top: 39%;right: 42%;}
        &:nth-child(7){top: 30%;right: 41%;}
        &:nth-child(8){top: 26%;right: 36%;}
        &:nth-child(9){top: 21%;right: 32%;}
        &:nth-child(10){top: 32%;right: 32%;}
        &:nth-child(11){top: 37%;right: 36%;}
        &:nth-child(12){top: 44%;right: 36.5%;}
        &:nth-child(13){top: 55%;right: 39.5%;}
        &:nth-child(14){top: 52%;right: 33%;}
    }
}
.modal{
    width: 316px;
    padding:48px;
    position: absolute;
    top: 76px;
    left: 5.83%;
    background: white;
    bottom: 35px;
    color:#2b2c30;
    opacity:0;
    transition: all 0.5s;
    transform: translateX(-140%);
    z-index: 10;
    &.open{
        opacity: 1;
        transform: translateX(0);
    }
    &.anim{
        -webkit-animation-duration: 0.7s;
        animation-duration: 0.7s;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
          -webkit-animation-name: shake;
          animation-name: shake;
    }
    .name{
        font-family:robotoMed;
        font-size:21px;
        text-transform: uppercase;
        line-height:28px;
    }
    .country, .site{
        font-family:robotoLight;
        color:#2b2c30;
        line-height:20px;
        font-size:13px;
        b{
            font-family:robotoRegular; 
            font-weight:normal;
        }
        a{color:#226489;}
    } 
    .country{
        padding-top:12px;
        border-top:1px solid #e3e3e4;
        margin-top:20px;
    }
    .site{
        padding-bottom:12px;
        border-bottom:1px solid #e3e3e4;
        margin-bottom:20px;
    }
    .textmodal{
        line-height:20px;
        font-family:robotoLight;
        font-size:13px;
    }
}
@keyframes shake {
    0%{
        opacity:1;
        transform: scale(1);
    }
    30%{
        opacity:0;
        transform: scale(0.5);
    }
    31%{
         transform: translateX(-140%) scale(1);
    }
    100%{
        transform: translateX(0);
        opacity:1;  
    }
  }
@-webkit-keyframes shake {
    0%{
        opacity:1;
        transform: scale(1);
    }
    50%{
        opacity:0;
        transform: scale(0.5);
    }
    51%{
         transform: translateX(-140%);
    }
    100%{
        transform: translateX(0);
        opacity:1;  
    }
  }
.close{
    width:11px;
    height:11px;
    position: absolute;
    top:20px;
    right:20px;
    cursor:pointer;
    background:url(img/close.png);
    opacity:0.3;
    transition:all 0.3s;
    &:hover{
        opacity: 0.8;
    }
}
.projectslist{
    width:76.04%;
    position: absolute;
    top:0;
    right:0;
    bottom:0;
    overflow:hidden;
    box-shadow: -1px 0px 0px white;
    transition:all 0.5s;
}
.project{
    overflow:hidden;
    float: left;
    padding-top: 26%;
    background-size: cover !important;
    background-position: center !important;
    box-shadow: -1px 0px 0px white, 1px 0px 0px white;
    width: 25%;
    position: absolute;
    bottom: 0;
    text-decoration: none;
    left:125%;
    top: 0;
    &.v0{left:-25%; transition:all .8s;}
    &.v1{left:0; transition:all .8s;}
    &.v2{left:25%; transition:all .8s;}
    &.v3{left:50%; transition:all .8s;}
    &.v4{left:75%; transition:all .8s;}
    &.v5{left:100%}
    .title{
        font-family:robotoRegular;
        color:white;
        font-size:16px;
        padding:0 12% 0 12%;
        margin-top:23px;
        
    }
    .logo{
         padding:0 12% 0 12%;
    }
    .text{
         padding:0 12% 0 12%;
        margin-top:23px;
        line-height:20px;
        font-size:13px;
        text-decoration: none;
    }
    
}
.arrowR{
    width:16px;
    height:28px;
    position: absolute;
    top:50%;
    right:8px;
    opacity:0.6;
    transition:all 0.3s;
    margin-top:-14px;
    cursor:pointer;
    background: url(img/arrow.png) center no-repeat;
    &:hover{
        opacity:1;
    }
}
.newsDome{
    overflow: auto;
    padding: 0  0 0 @paddingall;
    width:100% - @paddingall;
    .mainmenu{
        position: absolute;
        background: #26282C;
        right: 0;
        left: 0;
        padding-top: 22px;
        height: 0;
        padding-bottom: 36px;
        padding-left: @paddingall;
    }
    .leftColumnnews{
        float:left;
        width:25%;
        h1{
            margin-top:112px;
        }
    }
    .newsInfo{
        width: 70%;
        position: relative;
        top: 0;
        right: 0;
        bottom: 0;
        background: white;
        color: #26282c;
        min-height: 100%;
        float: right;
        .content{
            padding: 100px 8.5% 20px 8.5%;
            float: left;
            background:white;
            position: relative;
        }
        .dateThisNews{
            font-family: robotoRegular;
            color:#a3a3a4;
            font-size:11px;
            margin-top:30px;
            float:left;
            text-transform: uppercase;
            span{
                clear:both;
                display:block;
            }
        }
        h1{
            color: #26282c;
            margin-top: 16px;
            font-size: 23px;
            float:left;
            width:45%;
        }
        h1:before{
            margin-top: 7px;
        }
        .image{
            clear:both;
            width:100%;
            max-height:300px;
            img{
                max-height:100%;
            }
        }
        .textNews{
            font-family: robotoLight;
            font-size:13px;
            line-height:18px;
            margin-top:20px;
            float:left;
            width:100%;
            b{
                font-family: robotoRegular;
                font-weight: normal;
            }
        }
    }
    .back{
        color:white;
        font-family: robotoRegular;
        font-size:13px;
        float:left;
        display:block;
        margin-top:26px;
        &:before{
            content: '';
            border-right: 3px solid white;
            border-top: 3px solid transparent;
            border-bottom: 3px solid transparent;
            display: block;
            float: left;
            margin-top: 14px;
            margin-right: 3px;
        }
    }
}
.lastNews{
    .newsn{
        text-decoration: none;
        line-height:18px;
        padding-top:14px;
        padding-bottom:14px;
        border-bottom:1px solid #37393d;
        float: left;
        width: 100%;
        .date{
            color: white;
            font-size: 11px;
            float: left;
            font-family: robotoRegular;
            opacity: 0.43;
            transition: all 0.3s;
            text-transform: uppercase;
            clear: right;
            width: 30%;
            margin-right:3%;
            span{
                clear:both;
                display: block;
            }
        }
        &:hover .date{
            opacity:0.8;
        }
        .title{
            font-family: robotoMed;
            font-size: 13px;
            color: white;
            text-transform: uppercase;
            float: left;
            width: 67%;
        }
    }
}
.leftColumnproj{ 
        float:left;
        width:100%-76.04-@paddingall;
        ul{
            float:left;
            list-style: none;
            margin:0;
            padding:0;
            li{
                float:left;
                clear:both;
            }
            a{
                text-decoration: none;
                font-family: robotolight;
                color: white;
                position: relative;
                padding: 4px 20px;
                display: block;
                margin-bottom:2px;
                left: -20px;
                float: left;
                &:hover{
                    background:#226489;
                }
            }
            .active a{
                 background:#226489;
            }
        }
}
.projectDome .projectslist{
    background:url(img/projectbg.jpg) no-repeat;
    background-size:cover;
    background-position: right;
}
@media screen and (max-width:1330px){
    .rightColumn{
        width:35%;
    }
    .leftColumn__left {
        width: 38%;
    }
    .leftColumn{
        padding: 0 0 0 2.83%;
        width: 62.17%;
    }
    .leftColumn__right, .leftColumn__bottom .right{
        width: 48.6%;
        margin-right: 8.1%;
    }
    .about h1:before{content:''; display:none;}
}

@media screen and (max-width:1250px){
    .markers{
        right: -14%;
    }
    a.project {
        height: 250px;
        width: 33.333%;
        position: relative;
        padding: 100px 0 0 0;
        float: left;
        text-align: center;
        left: auto !important;
        box-shadow:none;
        .text{
            display:none;
        }
    }
    .leftColumnproj{
        width: 24.13%;
    }
    .arrowR{
            display:none !important;
    }
    .projectslist{
        overflow: visible;
        box-shadow:none;
        width:70%;
    }
    .elgrow{
        display:none;
    }
    .other{
        display:none
    }
    a.project.open{
        height: 100%;
        opacity: 1;
        display: block;
        padding: 0;
    }
    a.project.open .content {
        right: 3%;
        top: 80px;
        width: 80%;
        height: auto !important;
        min-height: 80%;
    }
    .projectsWrap .close {
        top: 100px;
        right: 6%;
    }
    .project{
        transition:all 0s !important;
    }
    
    
}
@media screen and (max-width:1000px){
    h1:before{content:''; display:none;}
}
@media screen and (max-width:900px){
    a.project{
        width: 50%;
        margin: 0;
    }
}
@media screen and (max-width:865px){
    .rightColumn{
        display:none;
    }
    .newsDome .elgrow{display:none;}
    .newsDome .newsInfo h1{
        width:80%;
    }
    .leftColumn, .partners{
        padding: 0 4% 0 4%;
        width: 92%;
        text-align: center;
        .mainmenu{
            display: inline-block;
        }
        .leftColumn__left {
        width: 100%;
        }
        h1{
            float:none;
        }
        .leftColumn__right {
            width: 80%;
            margin: 0;
            padding: 0 10% 0 10%;
            text-align: left;
        }
    }
    body.partners {
        overflow-x: hidden;
        overflow-y: auto;
    }
    .modal {
        width: 70%;
        padding: 10%;
        left: 5%;
    }
    .markers {
        position: relative;
        right: 0;
        background: none !important;
        width: 100%;
        height: auto;
        text-align: center;
        clear: both;
        &>div{
            position: static;
            width: 40%;
            clear: both;
            background: none;
            box-shadow: none;
            height: auto;
            display: inline-block;
            float: none;
            margin: 0px 3%;
            text-align: center;
            padding-top: 25px;
            padding-bottom: 25px;
            border-bottom: 1px solid rgba(255, 255, 255, 0.14);
            border-radius: 0%;
            &:before{
                content: attr(article) !important;
                position: static;
                transform: scale(1) !important;
                opacity: 1;
                width: auto;
                height: auto;
                background: none;
                color: white;
                font-size: 13px;
                font-family: robotoMed;
                text-transform: uppercase;
                box-shadow: none;
            }
            &:after{
                display:none;
            }
            img{
                position: static;
                opacity:1;
                transform: scale(1);
                margin-top:15px;
            }
        }
     }
    .partners{
        background: url(img/map.png);
        background-size:cover;
    }
}
@media screen and (max-width:700px){
    /*News*/
    .newsPoligone, .newsWrap{
        height:auto !important;
        overflow:auto !important;
        width:100% !important;
        margin:0 !important;
        padding-top: 24px;
    }
    a.newsBlock {
        width: 100% !important;
        height: 28% !important;
    }
    .news .mainmenu{
        padding: 15px 0px;
        padding-left: 9%;
        padding-right: 3%;
    }
    .secondRow{
        .image{
            float:left;
        }
         .textNews {
            float: right;
        }
    }
    .newsBlock:nth-child(2n+2){
        .image{
            float:right;
        }
         .textNews {
            float: left;
        }
    }
    /*End news*/
    /*Projects*/
    .projectslist{
        width: 100%;
        position: relative;
        clear: both;
    }
    a.project{
        width: 100%;
        margin: 2% 0%;
    }
    .leftColumnproj{
        width:100%;
        h2{
            width:100%;
            clear: both;
            text-align: center;
        }
        ul{
            width:100%;
            li{
                width:100%;
                a{
                    width: 100%;
                    font-size: 18px;
                    text-align: center;
                    padding: 13px 0px;
                    left: 0;
                }
            }
        }
        .text{
            margin-bottom:40px;
            text-align: center;
        }
    }
    /*End Projects*/
    .markers>div{
        width:100%;
        margin: 0;
    }
    .pkmenu.active{
        border-bottom:1px solid rgba(255,255,255,0.18);
        padding-bottom: 4px;
    }
    .leftColumn__right ul{
        margin: 40px 0 0 0;
    }
    .leftColumn__bottom .left{
        width:100%;
        .doc li{
            float: left;
            clear: none;
            width:100%/3;
        }
        .doc a{
            float: none;
            width: 90%;
            padding: 5px 5%;
            box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.09) inset;
        }
    }
    .leftColumn__bottom{
        margin-bottom:40px;
        .text{
            margin-top:70px;
        }
    }
    h1{
        margin-top: 80px;
    }
    .leftColumn__bottom .right{
        width: 92%;
        padding: 0 4% 0 4%;
        margin: 0;
    }
    .info.email, .contacts__block .info {
        width: 100%;
        margin-right: 0;
        margin-bottom: 10px;
        padding-bottom: 10px;
        border-bottom: 1px solid rgba(255,255,255,0.19);
        text-align: center;
    }
     .contacts__block .viewInMap{
        text-align: center;
        margin: 0px 0px 18px 0px;
        padding: 0px 0px 18px 0px;
        border-bottom: 1px solid white;
    }
    h1{
        text-align: center;
        width: 100%;
        &:before{
            display:none;
        }
    }
    .form>div{
        width:100% !important;
        margin:0% !important;
    }
    .form__submit *{
        text-align: center;
        width:100% !important;
    }
     .form__submit:hover:after{
        content:'';
        height:50% !important;
        margin-top:0% !important;
    }
    .mainmenu{
        height: 18px;
        overflow:hidden;
        transition:all 0.5s;
        display:inline-block;
        z-index: 2;
    }
    .mainmenu.active{
        height:auto;
    }
    .mainmenu:before{
        content:"Меню";
        text-align: left;
        float:left;
        width: 100%;
        padding-bottom: 14px;
    }
    .mainmenu{
        margin-top: 10px;
        padding: 15px 0px;
        position: absolute;
        right:0;
        left: 0;
        top: 0;
        margin: 0;
        background: black;
        color: white;
        text-align: left;
        padding-left: 9%;
        padding-right: 3%;
        text-transform: uppercase;
        cursor:pointer;
    }
    .mainmenu li.marker{
        width: 35px;
        height: 14px;
        display: block;
        float: right;
        border-bottom: 2px solid white;
        border-top: 2px solid white;
        position: absolute;
        right: 10px;
    }
    .mainmenu li.marker:after{
        width:100%;
        content:'';
        height:2px;
        background:white;
        display: block;
        position: absolute;
        top: 6px;
    }
    #mobileClicker{
        display: block;
        width: 100%;
        height: 48px;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
        margin: 0;
    }
    li.pkmenu {
        width: 100%;
        text-align: left;
        margin: 0;
        margin-top: 6px;
        padding-bottom: 5px;
    }
    li.pkmenu a:before{display:none;}
    li.pkmenu a{
        font-size:14px;
    }
    /*Страница новостей*/
    .newsDome{
        width:100%;
        padding:0;
        .elgrow{display:none;}
        h1.newsTitle{
            width:100%;
        }
        .leftColumnnews{
            clear:both;
            padding: 0px 8.5% 20px 8.5%;
            width:81%;
            h1{
                margin-top: 45px;
            }
        }
        .newsInfo{
            width:100%;
        }
        .image {
            text-align: center;
            img{
                max-width:100%;
            }
        }
    }
}
@media screen and (max-height:600px){
    .indexMenu a{
        font-size: 35px;
    }
    .indexMenu{
        bottom:40px;
    }
     a.project {
        width: 100% !important;
        margin: 0;
    }
}
@media screen and (max-width:500px){
    body{
        text-align:center;
    }
    .news{
        text-align: left;
    }
    .index{
        width:100%;
        padding:0;
    }
    .index__logo{
        display:inline-block;
        float:none;
        width:50%;
    }
    .index__menu{
        position: relative;
        clear: both;
        display: inline-block;
        float: none;
        left:auto;
        bottom:auto;
        margin-top: 40px;
        width: 100%;
    }
    .index__menu a{
        float:none;
        text-align:center;
        font-size:30px;
        padding:8px;
        &:hover{
            background:none;
        }
    }
}