{reduce:nothing}
{mask:main}
<body class="partners">
{* открывающий body тут, закрывающий в основном шаблоне *}
<ul class="mainmenu">
	<li id="mobileClicker"></li>
	<li class="pkmenu"><a href="/" class="pkmenu__link">Главная</a></li>
	{mask:menu}
	<li class="pkmenu{set:active} active{/set}"><a href="{url}" class="pkmenu__link">{name}</a></li>
	{/mask}
	<li class="marker"></li>
</ul>
<div class="leftColumn__left">
	<h1>{page_title}</h1>
	<div class="text">
		{page_text}
	</div>
</div>
<div class="markers">
	{mask:partners}
	<div class="markers__marker" site="{site}" country="{country}" article="{name}"
		 data="{text}">
		<img src="/files/0/{logo}" alt="{name}">
	</div>
	{/mask}
</div>
<div class="modal">
	<div class="close"></div>
	<div class="name"></div>
	<div class="country"></div>
	<div class="site"></div>
	<div class="textmodal"></div>
</div>
{/mask}