a:3:{s:4:"time";s:10:"1411472199";s:5:"value";s:540:"

			<footer class="footer">
				<div class="footer-wrapper">
					<div class="footer-content container clearline">
						<div class="info"> © «СоюзПромЭкспо» 2010-2014 Все права защищены.</div>
						<div class="dev">
							<a href="http://namms.ru/" target="_blank"><img src="/img/salihov.png" alt="Студия Салихова Марата"></a>Создано в <a href="http://namms.ru/" target="_blank">Студии Салихова Марата</a>
						</div>
					</div>
				</div>
			</footer>

";s:5:"endin";i:3600;}