{reduce:space}
{mask:main}
<body class="contacts">
{* открывающий body тут, закрывающий в основном шаблоне *}
<ul class="mainmenu">
	<li id="mobileClicker"></li>
	<li class="pkmenu"><a href="/" class="pkmenu__link">Главная</a></li>
	{mask:menu}
	<li class="pkmenu{set:active} active{/set}"><a href="{url}" class="pkmenu__link">{name}</a></li>
	{/mask}
	<li class="marker"></li>
</ul>
<h1>Спасибо за отзыв!</h1>
{/mask}