{reduce:nothing}
{mask:main}
<body class="contacts">
{* открывающий body тут, закрывающий в основном шаблоне *}
<ul class="mainmenu">
	<li id="mobileClicker"></li>
	<li class="pkmenu"><a href="/" class="pkmenu__link">Главная</a></li>
	{mask:menu}
	<li class="pkmenu{set:active} active{/set}"><a href="{url}" class="pkmenu__link">{name}</a></li>
	{/mask}
	<li class="marker"></li>
</ul>
<h1>Контактная <br>информация</h1>
<div class="contacts__block">
	<div class="info"><span class="title">Адрес</span><span class="text">{address}</span></div>
	<div class="info"><span class="title">Телефон</span><span class="text">{phone}</span></div>
	<div class="viewInMap" onclick="javascript:$('#showMap').slideToggle();"><img src="/img/iconMap.png"/> Показать на карте</div>
	<div id="showMap" style="display: none;">{map}</div>
	{mask:contacts}
	<div class="info email">
		<span class="text">{name}</span>
		<span class="title">({position})</span>
		<span class="text email">E-mail: {mail}</span>
	</div>
	{/mask}
</div>
<h1>Обратная связь</h1>
<form class="form" id="feedback-form">
	<div class="form__inputs">
		<label for="name">Как вас зовут?</label>
		<input placeholder="Имя" id="name" type="text" name="name" required/>
		<label for="email">Как мы можем связаться с вами?</label>
		<input placeholder="Ваш e-mail" type="email" id="email" name="email" required/>
	</div>
	<div class="form__textarea">
		<label for="textarea">Напишите ваше сообщение</label>
		<textarea id="textarea" name="message" required></textarea>
	</div>
	<div class="form__submit">
		<input type="submit" id="submit" value="Отправить"/>
	</div>
</form>
{/mask}